<h1>Now Playing</h1>
{{#each movies}}
    <a href="/movies/{{this.id}}">
        <h3>{{this.title}}<h3>
        <img src="http://image.tmdb.org/t/p/w154/{{this.poster_path}}" alt="">
    </a>
{{/each}}
